body
{
margin:0;
padding: 0;
background: url(art-art-materials-bright-743986.jpg) center center fixed;
background-size: cover;

}
.navbar {
    background-color: #33cccc;
    padding: 0;
	
}

.carousel{
	margin-top: 5%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
	margin-left: auto;
    display: block;
    text-align: center;
	font-size: 20;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}
.ostatni 
{
font-size: 25;
margin-top: 7%;
}
.o_nas
{
margin-top: 23%;
margin-left: 10%;
margin-right: 10%;
}
.container
{
  padding: 0;	
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.blur {
    -webkit-filter: blur(4px)
    
}
.linia
{
	margin: 0;
}
.tytul
{
text-align: center;
margin-bottom: 20px;
}
.tekst
{
	align: justify;
	margin-bottom: 20px;
	margin-left: 10;
	margin-right: 10;
	font-family: TimesNewRoman;
}
.myslniki
{
	list-style-type: none;
	font-family: TimesNewRoman;
}